
:root {
	--color-neutral-light: #eee;
	--color-neutral-medium: #999;
	--color-neutral-dark: #555;

	--color-blue-light: #A6CAFF;
	--color-blue-medium: #4E5FF1;
	--color-blue-dark: #4E00FC;

	--color-green-light: #78E600;
	--color-green-medium: #009100;
	--color-green-dark: #336600;

	--color-black:#000;
	--color-white:#fff;

}

body {
	background-color:var(--color-offwhite) ;
	padding-bottom: 10em;

}

.default-button {
	display: inline-block;
	background-color: var(--color-blue-dark);
	border-width: 0;
	padding: 0.8em 1em;
	font-family: "Stevie san", sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
	color: white;
	width: 50%;
	height: 50px;
	outline: 0;
	border-radius: 0.5em;
	cursor: pointer;
	text-align: center;
}

.disabled-button {
	display: inline-block;
	margin-left: 10px;
	background-color: var(--color-blue-light);
	border-width: 0;
	padding: 0.5em 1em;
	font-family: "Stevie san", sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
	color: white;
	width: 20%;
	height: 50px;
	outline: 0;
	border-radius: 0.5em;
	cursor: pointer;
}
.add-button {
    background-color: var(--color-blue-dark); 
    border: none;
    padding: 20px 50px;
    border-radius: 0.5em; 
    color: white;
    cursor: pointer;
    font-family: "Stevie sans", sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

.add-button:hover {
    background-color: var(--color-green-light);
    color: var(--color-black);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, outline-color 0.3s;
    font-size: 18px;
}

.favorite label {
	transition: all 0.3s;
	display: inline-block;
	transform: scale(1,1);
	color: var(--color-neutral-medium);
}

.favorite input:checked + label {
	color: red;
	transform: scale(1.5,1.5);
}

@media (max-width: 800px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar h1{
		padding-left: 0em;

	}
}
@media (max-width:400px) {
	.navbar .display-flex {
		display: block;
	}
	.navbar .nav li {
		line-height: 3em;
	}
}

.card-section~.card-section{
	border-top:  2px  solid var(--color-neutral-light);
}

.card-section {
	padding: 1em;
}


.figure.product {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.2em;
    position: relative;
    overflow: hidden;
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    justify-content: center;
    height: 100%;
    transition: all 0.3s;
}

.figure.product img {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0px; /* Add margin to create space around the images */
   
}


.caption-body {
	background-color: white;
    text-align: left; /* Align text to the left */
}

.caption-body div {
    margin-bottom: 5px; /* Add margin for spacing between text elements */
}
	
.product-overlay {
	border-radius: 0.5em;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Evenly distribute items along the main axis */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add margin between rows */
}

.product.figure img{
	height: 100%;
	object-fit: contain;
	
}

.productlist a {
	text-decoration: none;
	font-weight: initial;
}

.product.figure:hover {
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}

.product-overlay figcaption {
	position: absolute;
	border-radius: 0.5em;
	top: 0;
	left: 0;
	width: 100;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-overlay:hover figcaption {
	opacity: 1s;
}

.product-overlay caption-body {
	background-color: white;
	border-radius: 0.5em;
	padding: 1em;
	transform: translateY(2em);
	transition: all 0.3s;
}

.product-overlay:hover caption-body {
	transform: translateY(0);
}

.product-overlay img {
	background-color: white;
	border-radius: 0.5em;
	padding: 1em;
	transform: translateY(2em);
	transition: all 0.3s;

}

.product-overlay:hover img {
	transform: translateY(0);
	border-radius: 0.5em;
}

.images-main {
	width: 100%;
	height: 40vh;
	object-fit: contain;
}

.images-thumbs{
	width: 8em;
	height: 6em;
	object-fit: contain;
}